html, body{
	position: relative;
	padding: 0;
	margin: 0;
	/*background-color: rgba(39, 60, 136, 1);*/
	/* background-color: rgba(42, 162, 255, 1); */
	/* background-color: #110a2a; */
	background-color: #374D5C; 
	overflow: hidden;
}

canvas,
{
	position: relative;
	display: block;
	background: transparent;
}

@font-face {
  font-family: 'Pixelmix';
  font-style: normal;
  font-weight: 400;
  src: url(/shared/fonts/pixelmix.ttf);
}

@font-face {
  font-family: 'Enhanced Dot Digital-7';
  font-style: normal;
  font-weight: 400;
  src: url(/shared/fonts/enhanced_dot_digital-7.ttf);
}

#controls
{
	color: white;
}

#hud
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 12pt;
}

#hud .label
{
	font-family: 'Enhanced Dot Digital-7', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	color: white;
	display: block;
	margin: 0 4pt 8pt 0;
}